#annaNorm{
    z-index: -1;
    /* background-color: red;  */
    text-align: center;
    position: fixed;
    height: 70%;
    
    /* left: 50%;
    transform: translate(-50%); */
}
#annaNorm:hover{
    cursor:pointer;
}



.annaStand{
    background-color: brown;
    position: fixed;
    z-index: 5;

    left: 50%;
   
}
.textBox{
    display: flex;
    
    position: absolute;
    flex-direction: column;
    /* bottom: -20%;   */
    left: 80%;

    transform: translateX(70%); 
}

    

