h1{
    text-align: center;
    top: 0%;
    left: 50%;

    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 2000;
   
}

body{
    background-color: rgb(174, 206, 255);
}



#playButton{
    display: block;

    margin: auto;

    width: 25%;
    border-width: 5px;
    border-radius: 25px;
    border-color: rgb(45, 66, 109);
    border-style:solid;

    transition: opacity 800ms ease-out; 
}
.hover{
    display: block;

    margin: auto;

    width: 50%;
    border-width: 5px;
    border-radius: 25px;
    border-color: rgb(45, 66, 109);
    border-style:solid;

    cursor:pointer;

    transition: opacity 800ms ease-out; 
}
.hover:hover {
    filter: brightness(0.5);
    border-color: rgb(0, 0, 0);
    
    transform: translateY(1%);  
}



.socials{
    position: fixed;
    z-index: 5;
    /* background-color: red; */
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,80%);
    
    /* padding-bottom: 20%; */
    aspect-ratio: 1 / 1;
    width: 20%;

    transition: 800ms ease-out;
}
.social_buttons{
    display: flex;
    
    position: absolute;
    flex-direction: column;
    bottom: -20%; 
    left: 50%;

    transform: translateX(-50%);
}
.socials:hover {
    transition: 0.8s ease-out;
    transform: translate(-50%,-45%);
    
}
.popup{
    position: absolute;
    margin: auto;

    width: 100%;    
}
#twet{
    width: 100%;
}
#twet:hover {
    filter: brightness(0.9);
}



#playButton2{
    transition: opacity 800ms ease-out;
}

#bottomtext{
    text-align: center;
    top: 0%;
    left: 50%;
    
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;

    transition: opacity 800ms ease-out;
   
}
.animate{
    animation: blink 1000ms step-end 0ms infinite normal;
}
@keyframes blink{
    0% {opacity: 0;}
    50% {opacity: 1;}
}



.bounce{
    position: absolute;
    top: 15%;
    left: 50%;
    
    animation: goUp 300ms ease-in-out forwards;
}
.newAnnaPos{
    top: 15%;
    left: 50%;
}



.bounceUp{
    animation: bounceup 100ms ease-out 1 forwards;
 }
 @keyframes bounceup{
    60% {transform: translate(-50%, -4%);}
    100%{transform: translate(-50%, -0%);}
 }
 


 @keyframes goUp{
    /* 0% {transform: translateY(0);
        background-color: aqua;} */
    0%{transform: translate(-50%, 200%);}
    80% {transform: translate(-50%, -10%);}
    100%{transform: translate(-50%, -0%);}
    
 }



.hidden{
    opacity: 0;
}



.flash{
    animation: flash 800ms ease-out;
    
}
@keyframes flash{
    0% {filter:brightness(1000%);
        border-color:white; 
        color: white;}
    15% {filter:brightness(100%);
        color: rgb(0, 0, 0);}
    25% {filter:brightness(1000%);
        color: rgb(255, 255, 255);}
    50% {filter:brightness(100%);
        color: rgb(0, 0, 0);}
    
        
          
}


/* #placeholder{
    text-align: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);

    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 2000;

    transition: opacity 800ms ease-in;
} */
#annaNorm{
    z-index: -1;
    /* background-color: red;  */
    text-align: center;
    position: fixed;
    height: 70%;
    bottom: -70%;
    left: 50%;
    transform: translate(-50%);
}
#annaNorm:hover{
    cursor:pointer;
}



.annaStand{
    position: fixed;
    z-index: 5;
    /* background-color: red; */
    left: 50%;
    /* bottom: 60%; */
    /* transform: translate(-50%,80%); */
    
    /* padding-bottom: 20%; */
    /* aspect-ratio: 1 / 1; */
    /* width: 20%; */

    /* transition: 800ms ease-out; */
}
.textBubble{
    position: relative;
	background: white;
	border-radius: 1.5em;
    border-width: 5px;
    border-color: rgb(45, 66, 109);
    border-style: solid;
    width: 250px;
    height: 300px;
    top: 80%;
    left: 50%;
    
    
    transform: translate(0%,45%); 
    
}
/* .textBubble::after{
    
    content: "Olla";
    transform: translate(35%,50%);
    
} */
.textBubble p{
    text-align: center;
    text-justify: distribute-all-lines;
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 30px;
}


#hello{
    display: none;
    position: absolute;
    top: 20%;
    transform: translate(10%,50%);
    font-size: 25px;
}